 <footer class="footer">
   <div class="row">
     <div class="footer__bg-image">&nbsp;</div>
     <ul class="footer__links"  data-aos="fade-up" data-aos-once="true">
       <li class="footer__links-item">
           <span class="footer__links-item-text"><a href="mailto:{{getEmail}}?subject=Yo!">@</a></span>
       </li>
       <li class="footer__links-item">
         <a href="https://github.com/jessbodie" target="_new"><img src="vendor/img/GitHub-Mark/PNG/GitHub-Mark-Light-64px.png" alt="Jess's GitHub Repo"></a>
       </li>
       <li class="footer__links-item">
         <a href="https://www.linkedin.com/in/jessbodie/" target="_new"><img src="vendor/img/LinkedIn/Screen/White/In-White-66px-TM.png" alt="Jess on LinkedIn"></a>
       </li>
     </ul>
     <div class="footer__copyright">&copy; {{getCurrentYear}} Jess Bodie Richards. All rights reserved.</div>
   </div>
  </footer>
