  <header class="header">
    <div class="row">
      <div class="header__logo-nav">
        <div class="header__logo">
          <a href="/" class="header__logo-text">JBR</a>
        </div>

        <nav class="header__nav">
          <div class="header__nav-link">
            <a href="/about" class="header__nav-link-text">about</a>
          </div>
          <div class="header__nav-link">
            <a href="/projects" class="header__nav-link-text">projects</a>
          </div>
        </nav>
      </div>
    </div>
  </header>
