.footer {
  @include section-block;
  height: 27rem;
  // max-height: 60vh;


  color: $color-white;
  // background-color: $color-primary-dark;


  background-image: linear-gradient(
       to right bottom,
       rgba($color-primary-dark, .95),
       rgba($color-primary-dark, 1));

  max-width: 100%;

  position: relative;
  overflow: hidden;

  &__bg-image {
    background-image: url('../vendor/img/plastic_bag_outline_cc.svg');
    background-size: cover;
    width: 30rem;
    height: 30rem;
    position: absolute;
    top: 0;
    right: 0;
    transform-origin: top right;
    transform: rotate(90deg) scaleY(1) skewX(10deg) skewY(0);
    padding-top: 4rem;

    opacity: .1;
    margin-top: 26rem;
    margin-right: -6rem;
    // transition: all 1s;

    // &:hover {
      // TODO Make animation look good....
      // animation-name: bag;
      // animation-delay: 500ms;
      // animation-duration: 6s;
      // animation-timing-function: ease-in-out;
      // animation-iteration-count: 3;
      // animation-fill-mode: backwards;
    // }
  }

  &__links {
    display: inline-block;

    &-item {
      list-style: none;
      padding-top: 1rem;
      font-weight: bolder;
      justify-content: flex-start;
      vertical-align: center;
      transition: all 300ms;

      &:hover,
      &:focus {
        transform: translateY(-2px);
        text-shadow: .25rem .25rem .5rem rgba($color-blacker, .8);
      }


      &:active {
        transform: translateY(1px);
        text-shadow: .25rem .25rem .25rem rgba($color-blacker, .6);
      }


      img {
        width: 3.5rem;
        height: 3.5rem;
        object-fit: contain;
        overflow: hidden;
        transition: all 300ms;

        &:hover,
        &:focus {
          filter: drop-shadow(.25rem .25rem .5rem rgba($color-blacker, .8));
        }

        &:active {
          filter: drop-shadow(.25rem .25rem .25rem rgba($color-blacker, .6));
        }
      }

      &-text {
        font-size: 3rem;
        }

      a {
        &:link,
        &:visited {
          text-decoration: none;
          color: $color-white;
        }
      }
    }
  }

  &__copyright {
    font-size: 1rem;
    color: $color-white;
    text-align: center;
    padding-top: $left-margin;
    padding-bottom: 6rem;
    opacity: .6;
  }
}
