@keyframes moveInTopLeft {
     0% {
          opacity: 0;
          transform: translateX(-15rem) translateY(-20rem) scale(0);
     }

     80% {
          opacity: .9;
          transform: translateX(5rem) translateY(4rem) scale(3);
     }

     100% {
          opacity: 1;
          transform: translateX(0) translateY(0) scale(1);
     }
}

@keyframes moveInTopLeftHome {
  0% {
       opacity: 0;
       transform: translateX(-15rem) translateY(-20rem) scale(0);
  }

  15% {
       opacity: .9;
       transform: translateX(5rem) translateY(4rem) scale(3);
  }

  20% {
    opacity: 1;
    transform: translateX(0) translateY(0) scale(1);
  }

  80% {
    opacity: 1;
    transform: translateX(0) translateY(0) scale(1);
  }

  100% {
       opacity: 0;
       transform: translateX(0) translateY(0) scale(1);
  }
}


@keyframes moveInRight {
     0% {
        opacity: 0;
        transform: translateX(30rem) skewX(25deg) scale(.25);
     }

     75% {
        opacity: .25;
        transform: translateX(-5rem) skewX(0) scale(3);
     }

     85% {
        opacity: .55;
        transform: translateX(0) skewX(0) scale(.75);
     }

     100% {
       opacity: 1;
       transform: translateX(0) skewX(0) scale(1);
     }
}

@keyframes moveInRightHome {
  0% {
     opacity: 0;
     transform: translateX(30rem) skewX(25deg) scale(.25);
  }

  14% {
     opacity: .25;
     transform: translateX(-5rem) skewX(0) scale(3);
  }

  17% {
     opacity: .55;
     transform: translateX(0) skewX(0) scale(.75);
  }

  20% {
    opacity: 1;
    transform: translateX(0) skewX(0) scale(1);
  }

  80% {
    opacity: 1;
    transform: translateX(0) skewX(0) scale(1);
  }

  100% {
    opacity: 0;
    transform: translateX(0) skewX(0) scale(1);
  }
}


@mixin animation-fadeIn {
  opacity: 0;
  animation-name: fadeIn;
  animation-duration: 1s;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes fadeIn {
     0% {
        opacity: 0;
     }

     100% {
       opacity: 1;
     }
}


@mixin animation-fadeInRight {
  opacity: 0;
  animation-name: fadeInRight;
  animation-duration: 800ms;
  animation-timing-function: ease-in;
  animation-fill-mode: forwards;
}

@keyframes fadeInRight {
     0% {
        opacity: 0;
        transform: translateX(4rem);
     }

     100% {
       opacity: 1;
       transform: translateX(0);
     }
}


@mixin animation__moveDown ($y) {

  @keyframes moveDown {
         0% {
              opacity: 0;
              transform: translateY($y);
         }

         100% {
              opacity: 1;
              transform: translateY(0);
         }
    }
}

// TODO Make pretty
@keyframes bag {
     0% {
        opacity: 0.05;
        transform: rotate(90deg) scaleY(.5) skewX(0) skewY(0);

     }

     15% {
       opacity: .15;
       transform: rotate(90deg) scaleY(1.5) skewX(32deg) skewY(2deg);
     }


     40% {
       transform: rotate(80deg) scaleY(1) skewX(10deg) skewY(10deg);
     }

     50% {
       transform: rotate(88deg) scaleY(1.3) skewX(27deg) skewY(2deg);
     }

     60% {
       transform: rotate(90deg) scaleY(1) skewX(-35deg) skewY(2deg);
     }

     90% {
       transform: rotate(90deg) scaleY(.85) skewX(0) skewY(0);
     }
}
