*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* best practice */ }

html {
  box-sizing: border-box;
  /* best practice */
  font-size: calc(6.5px + .66vw);
  width: 100%; }

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
  -webkit-text-size-adjust: 100%;
  width: 100%; }

main {
  width: 100%;
  display: block;
  position: relative;
  align-self: stretch;
  justify-self: stretch; }
  main a {
    display: inline;
    transition: transform 300ms, text-shadow 300ms; }
    main a:link, main a:visited {
      text-decoration: none;
      color: #414770; }
    main a:hover, main a:focus {
      transform: translateY(-2px);
      text-shadow: 0px 1px 4px rgba(55, 34, 72, 0.3); }
    main a:active {
      transform: translateY(1px); }

ul, p {
  font-size: 1.25rem;
  margin-top: .8rem; }

li {
  list-style: none;
  margin-left: 4rem;
  margin-top: .6rem; }

::selection {
  background-color: #414770;
  color: #eeeff5; }

.heading-primary {
  display: inline-block;
  font-size: 4.5rem;
  line-height: 5.6rem;
  font-weight: 800;
  color: #eeeff5;
  vertical-align: bottom; }
  @media only screen and (min-width: 37.5em) {
    .heading-primary {
      font-size: 5rem;
      line-height: 6.5rem; } }
  @media only screen and (min-width: 56.25em) {
    .heading-primary {
      font-size: 8rem;
      line-height: 7rem; } }

.heading-secondary {
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  color: #eeeff5;
  background-color: #414770;
  padding: .5rem 1.5rem 1rem 1.5rem;
  z-index: 2000; }

.heading-tertiary {
  display: inline-block;
  position: relative;
  font-size: 1.8rem;
  font-weight: 800;
  color: #414770;
  background-color: transparent;
  padding: .5rem 0 .5rem 0;
  z-index: 2000; }

button {
  background-color: #5B85AA;
  font-family: inherit;
  font-size: 1.5rem;
  font-weight: bold;
  color: #eeeff5;
  padding: .5rem 1rem .75rem 1rem;
  border: none;
  outline: none; }
  button:hover, button:focus, button:active {
    box-shadow: 0.2rem 0.5rem 0.5rem rgba(65, 71, 112, 0.6);
    cursor: pointer; }

img {
  max-width: 100%; }

.u-margin-bottom-med {
  margin-bottom: 5rem; }

.u-margin-top-med {
  margin-top: 3rem; }
  @media only screen and (min-width: 37.5em) {
    .u-margin-top-med {
      margin-top: 4rem; } }

.u-margin-header-wrap {
  margin-left: 6rem; }
  @media only screen and (min-width: 37.5em) {
    .u-margin-header-wrap {
      margin-left: 0; } }

.u-height-100 {
  height: 100%; }

.u-hidden {
  max-height: 0;
  height: 0;
  overflow-y: hidden;
  opacity: 0;
  transition: all 500ms; }

.u-visible {
  opacity: 1;
  padding: 4rem;
  transition: all 500ms;
  height: auto;
  max-height: 60rem; }

.u-visibility {
  visibility: hidden;
  height: 0px; }

.u-nowrap {
  white-space: nowrap; }

@keyframes moveInTopLeft {
  0% {
    opacity: 0;
    transform: translateX(-15rem) translateY(-20rem) scale(0); }
  80% {
    opacity: .9;
    transform: translateX(5rem) translateY(4rem) scale(3); }
  100% {
    opacity: 1;
    transform: translateX(0) translateY(0) scale(1); } }

@keyframes moveInTopLeftHome {
  0% {
    opacity: 0;
    transform: translateX(-15rem) translateY(-20rem) scale(0); }
  15% {
    opacity: .9;
    transform: translateX(5rem) translateY(4rem) scale(3); }
  20% {
    opacity: 1;
    transform: translateX(0) translateY(0) scale(1); }
  80% {
    opacity: 1;
    transform: translateX(0) translateY(0) scale(1); }
  100% {
    opacity: 0;
    transform: translateX(0) translateY(0) scale(1); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(30rem) skewX(25deg) scale(0.25); }
  75% {
    opacity: .25;
    transform: translateX(-5rem) skewX(0) scale(3); }
  85% {
    opacity: .55;
    transform: translateX(0) skewX(0) scale(0.75); }
  100% {
    opacity: 1;
    transform: translateX(0) skewX(0) scale(1); } }

@keyframes moveInRightHome {
  0% {
    opacity: 0;
    transform: translateX(30rem) skewX(25deg) scale(0.25); }
  14% {
    opacity: .25;
    transform: translateX(-5rem) skewX(0) scale(3); }
  17% {
    opacity: .55;
    transform: translateX(0) skewX(0) scale(0.75); }
  20% {
    opacity: 1;
    transform: translateX(0) skewX(0) scale(1); }
  80% {
    opacity: 1;
    transform: translateX(0) skewX(0) scale(1); }
  100% {
    opacity: 0;
    transform: translateX(0) skewX(0) scale(1); } }

@keyframes fadeIn {
  0% {
    opacity: 0; }
  100% {
    opacity: 1; } }

@keyframes fadeInRight {
  0% {
    opacity: 0;
    transform: translateX(4rem); }
  100% {
    opacity: 1;
    transform: translateX(0); } }

@keyframes bag {
  0% {
    opacity: 0.05;
    transform: rotate(90deg) scaleY(0.5) skewX(0) skewY(0); }
  15% {
    opacity: .15;
    transform: rotate(90deg) scaleY(1.5) skewX(32deg) skewY(2deg); }
  40% {
    transform: rotate(80deg) scaleY(1) skewX(10deg) skewY(10deg); }
  50% {
    transform: rotate(88deg) scaleY(1.3) skewX(27deg) skewY(2deg); }
  60% {
    transform: rotate(90deg) scaleY(1) skewX(-35deg) skewY(2deg); }
  90% {
    transform: rotate(90deg) scaleY(0.85) skewX(0) skewY(0); } }

.hero {
  width: 100%;
  display: inline-block;
  position: relative;
  height: 100%; }
  .hero__image {
    max-width: 100%;
    position: relative; }
  .hero__text {
    position: absolute;
    bottom: 0;
    right: 0;
    vertical-align: bottom;
    text-align: right;
    background-color: transparent;
    text-shadow: 0 0.5rem 0.5rem rgba(65, 71, 112, 0.6);
    transform-origin: left top; }
    .hero__text-1st {
      vertical-align: bottom;
      display: inline-block;
      line-height: .8;
      opacity: 0;
      animation-name: moveInTopLeft;
      animation-duration: 1s;
      animation-timing-function: ease-in;
      animation-delay: 600ms;
      animation-fill-mode: forwards; }
    .hero__text-2nd {
      display: block;
      opacity: 0;
      line-height: .8;
      animation-name: moveInRight;
      animation-duration: 1.25s;
      animation-timing-function: ease;
      animation-delay: 1.25s;
      animation-fill-mode: forwards; }
    .hero__text-1sthome {
      vertical-align: bottom;
      display: inline-block;
      line-height: .8;
      opacity: 0;
      animation-name: moveInTopLeftHome;
      animation-duration: 5s;
      animation-timing-function: ease-in;
      animation-delay: 600ms;
      animation-fill-mode: forwards; }
    .hero__text-2ndhome {
      display: block;
      opacity: 0;
      line-height: .8;
      animation-name: moveInRightHome;
      animation-duration: 5s;
      animation-timing-function: ease-in;
      animation-delay: 1.5s;
      animation-fill-mode: forwards; }

.haiku {
  margin-left: 4rem;
  margin-right: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: nowrap; }
  @media only screen and (min-width: 75em) {
    .haiku {
      margin-right: calc(4rem + 1.5rem); } }
  .haiku__header {
    flex: 0 1 4rem;
    width: 4rem;
    height: 10rem;
    display: inline-block;
    position: relative;
    opacity: 0;
    animation-name: moveDown;
    animation-duration: 500ms;
    animation-timing-function: ease-in;
    animation-delay: 1.5s;
    animation-fill-mode: forwards; }

@keyframes moveDown {
  0% {
    opacity: 0;
    transform: translateY(-6rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
    .haiku__header-rotate {
      width: 4rem;
      display: inline-block;
      position: absolute;
      top: 9rem;
      transform: rotate(-90deg);
      transform-origin: left top; }
    .haiku__header-top {
      top: 9rem;
      box-shadow: -0.5rem 0.5rem 0.5rem rgba(65, 71, 112, 0.6); }
  .haiku__text {
    flex: 4 1 auto;
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    margin-left: 4rem; }
    .haiku__text-single {
      align-items: space-between;
      color: #372248;
      font-size: 2.2rem;
      font-weight: 400;
      word-spacing: 1.05rem;
      margin-bottom: 1.5rem;
      line-height: 2.8rem;
      position: relative;
      top: 0;
      vertical-align: top; }
      .haiku__text-single:nth-child(1) {
        animation-delay: 3s; }
      .haiku__text-single:nth-child(2) {
        animation-delay: 5s; }
      .haiku__text-single:nth-child(3) {
        animation-delay: 7s; }
      @media only screen and (min-width: 37.5em) {
        .haiku__text-single:nth-child(1) {
          margin-left: 4rem; }
        .haiku__text-single:nth-child(2) {
          margin-left: 8rem; }
        .haiku__text-single:nth-child(3) {
          margin-left: 12rem; } }
      @media only screen and (min-width: 56.25em) {
        .haiku__text-single {
          font-size: 2.8rem;
          margin-bottom: 2rem; } }

.purpose {
  padding-bottom: 0;
  position: relative;
  display: block;
  width: 100%;
  max-height: 50vh;
  height: 30rem;
  background-color: inherit; }
  @media only screen and (min-width: 56.25em) {
    .purpose {
      height: 50rem; } }
  .purpose__image {
    width: 100%;
    height: 100%;
    position: relative;
    line-height: 0;
    float: left;
    display: block;
    overflow: hidden; }
    .purpose__image::before {
      display: inline-block;
      vertical-align: top;
      line-height: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      content: '';
      z-index: 1000;
      background-image: linear-gradient(to right bottom, rgba(238, 239, 245, 0.05), rgba(238, 239, 245, 0.33)); }
    @supports (clip-path: polygon(55% 0, 66% 50%, 55% 100%, 0% 100%, 0 0)) and (shape-outside: polygon(55% 0, 66% 50%, 55% 100%, 0% 100%, 0 0)) {
      .purpose__image {
        clip-path: polygon(55% 0, 66% 50%, 55% 100%, 0% 100%, 0 0);
        shape-outside: polygon(55% 0, 66% 50%, 55% 100%, 0% 100%, 0 0);
        display: block;
        margin-right: -2rem;
        margin-left: -15rem; } }
    @media only screen and (min-width: 37.5em) {
      @supports (clip-path: polygon(55% 0, 66% 50%, 55% 100%, 0% 100%, 0 0)) and (shape-outside: polygon(55% 0, 66% 50%, 55% 100%, 0% 100%, 0 0)) {
        .purpose__image {
          margin-left: -10rem; } } }
    @media only screen and (min-width: 56.25em) {
      @supports (clip-path: polygon(55% 0, 66% 50%, 55% 100%, 0% 100%, 0 0)) and (shape-outside: polygon(55% 0, 66% 50%, 55% 100%, 0% 100%, 0 0)) {
        .purpose__image {
          margin-left: 0;
          margin-right: 4rem; } } }
  .purpose__text {
    padding: 1rem 2rem 2rem 2rem;
    z-index: 1000;
    color: #372248;
    display: block;
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    margin-left: 4rem;
    background: linear-gradient(-60deg, rgba(91, 133, 170, 0.7) 0%, rgba(238, 239, 245, 0.6) 15%, rgba(238, 239, 245, 0.7) 55%, rgba(91, 133, 170, 0.8) 100%); }
    @supports (clip-path: polygon(55% 0, 66% 50%, 55% 100%, 0% 100%, 0 0)) and (shape-outside: polygon(55% 0, 66% 50%, 55% 100%, 0% 100%, 0 0)) {
      .purpose__text {
        text-shadow: none;
        background: transparent;
        position: relative; } }
    .purpose__text p {
      font-size: 2.2rem;
      line-height: 155%; }
      @media only screen and (min-width: 37.5em) {
        .purpose__text p {
          font-size: 1.8rem;
          line-height: 160%; } }

.latest {
  width: calc(100% - 2rem - 2rem);
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 2rem;
  margin-right: 2rem;
  padding: 0; }
  @media only screen and (min-width: 37.5em) {
    .latest {
      margin-left: 4rem;
      margin-right: 4rem;
      width: calc(100% - 4rem - 4rem);
      flex-direction: row; } }
  @media only screen and (min-width: 75em) {
    .latest {
      margin-right: calc(4rem + 1.5rem);
      margin-top: 4rem; } }
  .latest__header {
    display: block;
    height: 0;
    position: relative;
    opacity: 0;
    animation-name: moveDown;
    animation-duration: 500ms;
    animation-timing-function: ease-in;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;
    z-index: 2000; }

@keyframes moveDown {
  0% {
    opacity: 0;
    transform: translateY(-6rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
    @media only screen and (min-width: 37.5em) {
      .latest__header {
        flex: 0 1 4rem;
        margin-top: 14rem;
        width: 4rem;
        max-width: 4rem; } }
    .latest__header-rotate {
      height: 4rem;
      width: 14rem;
      transform: rotate(-90deg);
      transform-origin: left top;
      display: block;
      position: relative;
      top: 14rem;
      z-index: 2000;
      box-shadow: -0.5rem 0.5rem 0.5rem rgba(65, 71, 112, 0.6);
      background-color: #414770; }
      @media only screen and (min-width: 37.5em) {
        .latest__header-rotate {
          top: 0; } }
  .latest__text {
    color: #372248;
    font-size: 1.25rem;
    margin-top: .4rem;
    margin-bottom: 2rem; }
  .latest__pics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start; }
  .latest__image {
    max-width: 100%;
    box-shadow: 0.2rem 0.5rem 0.5rem rgba(65, 71, 112, 0.6);
    display: inline-block;
    vertical-align: top;
    line-height: 0;
    position: relative;
    overflow: hidden;
    top: 0;
    margin-top: 0;
    margin-bottom: .8rem; }
    .latest__image::before {
      display: inline-block;
      vertical-align: top;
      line-height: 0;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      content: '';
      z-index: 1000;
      background-image: linear-gradient(to right bottom, rgba(245, 110, 72, 0.05), rgba(245, 110, 72, 0.33)); }
    .latest__image img {
      width: 100%;
      overflow: hidden; }
      @supports (object-fit: scale-down) {
        .latest__image img {
          object-fit: scale-down; } }
  .latest__titles {
    height: 6rem;
    width: 100%; }
  .latest__first {
    flex: 1 1 40vw;
    margin-bottom: 4rem; }
    @media only screen and (min-width: 37.5em) {
      .latest__first {
        max-width: 50vw;
        order: 3; } }
  .latest__second {
    flex: 2 1 30vw; }
    @media only screen and (min-width: 37.5em) {
      .latest__second {
        max-width: 35vw;
        margin-right: 2rem;
        margin-left: 2rem;
        order: 2; } }

.captions__container {
  width: 100%;
  display: block;
  margin-top: 1rem;
  margin-bottom: 1rem;
  position: relative; }

.captions__form {
  display: block;
  width: 100%;
  border: 1px solid gray;
  font-family: inherit;
  font-size: 1rem;
  color: #372248;
  background: transparent;
  padding: .5rem;
  overflow-y: auto;
  overflow-x: hidden;
  vertical-align: top;
  border: 1px dotted transparent;
  border-radius: 2px;
  outline: none;
  transition: all 1s; }
  .captions__form:hover, .captions__form:focus {
    border: 1px solid rgba(91, 133, 170, 0.25);
    background: #eeeff5;
    box-shadow: 0.2rem 0.5rem 0.5rem rgba(65, 71, 112, 0.6); }
  .captions__form-narrow {
    width: 100%;
    height: 3.5rem;
    padding: 0; }
  .captions__form-fadeIn {
    opacity: 1;
    visibility: visible;
    transition: all 1s; }
  .captions__form-fadeOut {
    opacity: 0;
    visibility: hidden;
    transition: all 1s; }

.captions__rehash {
  position: absolute;
  top: 0;
  right: 0; }

.captions textarea {
  resize: none; }

.obligatory {
  display: block;
  margin-left: 4rem;
  margin-right: 4rem; }
  .obligatory .captions {
    display: none; }
    @media only screen and (min-width: 56.25em) {
      .obligatory .captions {
        display: block; } }
  @media only screen and (min-width: 56.25em) {
    .obligatory {
      margin-left: 4rem;
      margin-right: 4rem;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      align-items: flex-start;
      align-content: flex-start;
      flex-wrap: nowrap; } }
  @media only screen and (min-width: 56.25em) and (min-width: 75em) {
    .obligatory {
      margin-right: calc(4rem + 1.5rem); } }
  .obligatory__image {
    display: inline-block;
    line-height: 0;
    height: 100%;
    max-width: 8rem;
    float: left;
    margin-right: 4rem; }
    @media only screen and (min-width: 56.25em) {
      .obligatory__image {
        margin-right: 0;
        max-width: 20rem; } }
    .obligatory__image-only {
      box-shadow: 0.2rem 0.5rem 0.5rem rgba(65, 71, 112, 0.6);
      width: 100%;
      margin-bottom: 2rem; }
      @media only screen and (min-width: 56.25em) {
        .obligatory__image-only {
          margin-bottom: 0; } }
    .obligatory__image-crazy {
      filter: blur(1px) hue-rotate(90deg) saturate(150%);
      transition: all 500ms; }
      .obligatory__image-crazy:hover, .obligatory__image-crazy:active {
        filter: blur(2px) hue-rotate(90deg) saturate(80%) invert(190%) contrast(80%); }
    @media only screen and (min-width: 56.25em) {
      .obligatory__image figcaption {
        max-width: 20rem;
        padding: 0; } }
    .obligatory__image textarea {
      padding: 0;
      height: 3.5rem; }
    .obligatory__image form {
      width: 100%; }
    @media only screen and (min-width: 56.25em) {
      .obligatory__image button {
        font-size: 1rem;
        padding: .3rem;
        position: relative;
        margin: 0 auto;
        display: block; } }
  @media only screen and (min-width: 56.25em) {
    .obligatory__text {
      flex: 4 1 auto;
      flex-wrap: wrap;
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      margin-left: 4rem; } }
  @media only screen and (min-width: 56.25em) {
    .obligatory__text-wrapper:nth-child(1) {
      margin-left: 0rem; } }
  @media only screen and (min-width: 56.25em) {
    .obligatory__text-wrapper:nth-child(2) {
      margin-left: 4rem; } }
  @media only screen and (min-width: 56.25em) {
    .obligatory__text-wrapper:nth-child(3) {
      margin-left: 8rem; } }
  @media only screen and (min-width: 56.25em) {
    .obligatory__text-wrapper:nth-child(4) {
      margin-left: 12rem; } }
  .obligatory__text-single {
    color: #372248;
    font-size: 1.25rem;
    line-height: normal;
    word-spacing: .35rem;
    margin-bottom: 2.5rem;
    position: relative;
    top: 0;
    vertical-align: top; }
    @media only screen and (max-width: 37.5em) {
      .obligatory__text-single:nth-child(4)::after {
        content: "";
        display: table;
        clear: both; } }
    @media only screen and (min-width: 37.5em) {
      .obligatory__text-single:nth-child(6)::after {
        content: "";
        display: table;
        clear: both; } }
    @media only screen and (min-width: 56.25em) {
      .obligatory__text-single {
        align-items: space-between; } }

.DnD {
  height: 90vh;
  margin-top: 3rem;
  margin-left: 4rem;
  margin-right: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: nowrap; }
  .DnD li {
    margin-left: 0; }
  .DnD__toDrag {
    touch-action: pan-x;
    align-self: flex-start;
    flex: 1 1 auto;
    margin-top: 0;
    margin-left: 0;
    margin-right: 5vw; }
    @media only screen and (min-width: 56.25em) {
      .DnD__toDrag {
        margin-right: 10vw; } }
    @media only screen and (min-width: 75em) {
      .DnD__toDrag {
        margin-left: 6rem; } }
    @media only screen and (min-width: 112.5em) {
      .DnD__toDrag {
        margin-right: 5vw; } }
    .DnD__toDrag-img {
      cursor: move;
      margin-top: 0;
      margin-bottom: 5vh;
      min-width: 20rem;
      width: 30vw;
      max-width: 40rem; }
      .DnD__toDrag-img img {
        min-width: 20rem;
        width: 30vw;
        max-width: 40rem;
        overflow-x: hidden;
        box-shadow: 0.2rem 0.5rem 0.5rem rgba(65, 71, 112, 0.6); }
  .DnD__dropZone {
    flex: 2 1 auto;
    overflow-y: hidden;
    overflow-x: hidden;
    margin-right: 3rem;
    height: 100%;
    width: 100%;
    align-self: flex-end; }
    .DnD__dropZone-wrapper {
      margin-bottom: 3vh;
      margin-top: 0;
      margin-right: 1rem;
      padding-right: 1rem;
      width: 22vh;
      height: 14vh; }
      @media only screen and (min-width: 56.25em) {
        .DnD__dropZone-wrapper {
          max-width: 11rem;
          max-height: 6.5rem; } }
      @media only screen and (min-width: 112.5em) {
        .DnD__dropZone-wrapper {
          width: 8vw;
          height: 6vw; } }
      @media only screen and (min-width: 37.5em) {
        .DnD__dropZone-wrapper:nth-child(1) {
          margin-left: 0vw; } }
      @media only screen and (min-width: 56.25em) {
        .DnD__dropZone-wrapper:nth-child(1) {
          margin-left: 0vw; } }
      @media only screen and (min-width: 37.5em) {
        .DnD__dropZone-wrapper:nth-child(2) {
          margin-left: 5vw; } }
      @media only screen and (min-width: 56.25em) {
        .DnD__dropZone-wrapper:nth-child(2) {
          margin-left: 5vw; } }
      @media only screen and (min-width: 37.5em) {
        .DnD__dropZone-wrapper:nth-child(3) {
          margin-left: 10vw; } }
      @media only screen and (min-width: 56.25em) {
        .DnD__dropZone-wrapper:nth-child(3) {
          margin-left: 10vw; } }
      @media only screen and (min-width: 37.5em) {
        .DnD__dropZone-wrapper:nth-child(4) {
          margin-left: 15vw; } }
      @media only screen and (min-width: 56.25em) {
        .DnD__dropZone-wrapper:nth-child(4) {
          margin-left: 15vw; } }
      @media only screen and (min-width: 37.5em) {
        .DnD__dropZone-wrapper:nth-child(5) {
          margin-left: 20vw; } }
      @media only screen and (min-width: 56.25em) {
        .DnD__dropZone-wrapper:nth-child(5) {
          margin-left: 20vw; } }
      .DnD__dropZone-wrapper figcaption {
        color: #eeeff5;
        background-color: #372248;
        padding: .3rem .5rem;
        opacity: .7;
        position: relative;
        bottom: 1.5rem;
        left: 0;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        width: inherit;
        max-width: inherit;
        display: block;
        line-height: 1;
        box-shadow: 0.2rem 0.5rem 0.5rem rgba(65, 71, 112, 0.6);
        font-size: 1rem;
        font-weight: bold; }
        @media only screen and (min-width: 56.25em) {
          .DnD__dropZone-wrapper figcaption {
            max-width: inherit;
            max-height: inherit; } }
        @media only screen and (min-width: 75em) {
          .DnD__dropZone-wrapper figcaption {
            font-size: 1.25rem; } }
    .DnD__dropZone-dropHere {
      background-color: rgba(91, 133, 170, 0.4);
      overflow-y: hidden;
      border-radius: 1px;
      box-shadow: 0.2rem 0.5rem 0.5rem rgba(65, 71, 112, 0.6);
      width: inherit;
      height: inherit; }
      @media only screen and (min-width: 56.25em) {
        .DnD__dropZone-dropHere {
          max-width: inherit;
          max-height: inherit; } }
    .DnD__dropZone-active {
      background-color: #414770;
      transition: background-color 500ms; }

.list {
  display: flex;
  flex-direction: column; }
  @media only screen and (min-width: 37.5em) {
    .list {
      flex-direction: row;
      justify-content: space-between;
      align-items: stretch;
      align-content: flex-start;
      flex-wrap: wrap; } }
  .list__container {
    padding-top: 5rem;
    padding-bottom: 4rem;
    width: 100%;
    display: block;
    cursor: pointer; }
    .list__container:nth-child(even) {
      background-image: linear-gradient(to right bottom, rgba(65, 71, 112, 0.05), rgba(65, 71, 112, 0.3)); }
    @media only screen and (min-width: 37.5em) {
      .list__container {
        width: 50%;
        flex: 0 1 auto;
        height: 25vw;
        padding-top: 0;
        padding-bottom: 0; } }
  @media only screen and (min-width: 37.5em) and (min-width: 112.5em) {
    .list__container {
      max-height: calc(75em / 4); } }
    @media only screen and (min-width: 37.5em) {
        .list__container:nth-child(1), .list__container:nth-child(4n + 1) {
          background-image: linear-gradient(to right bottom, rgba(65, 71, 112, 0.05), rgba(65, 71, 112, 0.3)); }
        .list__container:nth-child(4n), .list__container:nth-child(4n-1) {
          background-image: linear-gradient(to right bottom, rgba(245, 110, 72, 0.15), rgba(245, 110, 72, 0.45));
          text-align: right; } }
    .list__container-image {
      max-width: 100%;
      height: 28rem;
      overflow: hidden;
      margin-left: 4rem;
      margin-right: 4rem;
      margin-bottom: 2rem;
      display: inline-block;
      position: relative; }
      @media only screen and (min-width: 112.5em) {
        .list__container-image {
          max-height: calc(75em / 4); } }
      @media only screen and (max-width: 37.5em) {
        .list__container-image {
          margin-left: 2rem;
          margin-right: 2rem; } }
      .list__container-image img {
        cursor: pointer;
        position: relative;
        height: 28rem;
        overflow: hidden; }
        @supports (object-fit: cover) {
          .list__container-image img {
            object-fit: cover;
            object-position: 0% 0%;
            width: 100%; } }
        .list__container-image img:hover, .list__container-image img:focus {
          opacity: .7;
          transform: scale(1.1);
          transition: transform 300ms;
          box-shadow: 0.2rem 0.5rem 1rem rgba(65, 71, 112, 0.6); }
      @media only screen and (min-width: 37.5em) {
        .list__container-image {
          margin-left: 0;
          margin-right: 0;
          margin-top: 0;
          margin-bottom: 0;
          height: 25vw;
          width: 50%;
          overflow: hidden; } }
  @media only screen and (min-width: 37.5em) and (min-width: 112.5em) {
    .list__container-image {
      max-height: calc(75em / 4); } }
      @media only screen and (min-width: 37.5em) {
          .list__container-image img {
            height: 35vw;
            max-width: 300%; } }
    .list__container-header {
      display: block;
      height: 0;
      margin: 0;
      padding: 0;
      text-align: left;
      position: relative;
      top: 0;
      left: 0;
      max-height: inherit; }
      .list__container-header-rotate {
        height: 4rem;
        width: 28rem;
        background-color: #414770;
        transform: rotate(-90deg);
        transform-origin: left top;
        display: inline-block;
        position: relative;
        top: 28rem;
        z-index: 2000;
        text-align: right;
        box-shadow: -0.5rem 0.5rem 0.5rem rgba(65, 71, 112, 0.6); }
        .list__container-header-rotate h2 {
          position: absolute;
          top: 0;
          right: 0; }
        @media only screen and (min-width: 37.5em) {
          .list__container-header-rotate {
            width: 25vw;
            top: 25vw; } }
    .list__container-text {
      margin-left: 4rem;
      margin-right: 4rem;
      font-size: 1rem; }
      .list__container-text li::before {
        content: '\25A0';
        color: #414770;
        display: inline-block;
        margin-right: 1rem;
        margin-left: 0; }
      @media only screen and (min-width: 37.5em) {
        .list__container-text {
          display: none; } }
  .list input {
    display: none;
    visibility: hidden; }
  .list label {
    display: block; }
  .list #toggle0:checked ~ #expand {
    height: auto;
    transform: scaleY(1);
    transition: transform 0.3s ease-out; }
  .list #toggle1:checked ~ #expand {
    height: auto;
    transform: scaleY(1);
    transition: transform 0.3s ease-out; }
  .list #toggle2:checked ~ #expand {
    height: auto;
    transform: scaleY(1);
    transition: transform 0.3s ease-out; }
  .list #toggle3:checked ~ #expand {
    height: auto;
    transform: scaleY(1);
    transition: transform 0.3s ease-out; }
  .list #toggle4:checked ~ #expand {
    height: auto;
    transform: scaleY(1);
    transition: transform 0.3s ease-out; }
  .list #toggle5:checked ~ #expand {
    height: auto;
    transform: scaleY(1);
    transition: transform 0.3s ease-out; }
  .list #toggle6:checked ~ #expand {
    height: auto;
    transform: scaleY(1);
    transition: transform 0.3s ease-out; }
  .list #toggle7:checked ~ #expand {
    height: auto;
    transform: scaleY(1);
    transition: transform 0.3s ease-out; }
  .list #toggle8:checked ~ #expand {
    height: auto;
    transform: scaleY(1);
    transition: transform 0.3s ease-out; }
  .list #toggle9:checked ~ #expand {
    height: auto;
    transform: scaleY(1);
    transition: transform 0.3s ease-out; }
  .list #toggle10:checked ~ #expand {
    height: auto;
    transform: scaleY(1);
    transition: transform 0.3s ease-out; }
  .list #toggle11:checked ~ #expand {
    height: auto;
    transform: scaleY(1);
    transition: transform 0.3s ease-out; }
  .list #expand {
    overflow: hidden;
    transform: scaleY(0);
    transform-origin: top;
    height: 0px; }

.list__featured {
  position: relative;
  margin: 2rem 0 0 0; }
  @media only screen and (min-width: 37.5em) {
    .list__featured-next, .list__featured-prev {
      flex: 0 0 auto;
      color: rgba(169, 191, 211, 0.5);
      font-size: 6rem;
      line-height: .6;
      font-weight: 500;
      display: inline-block;
      padding: 0 .5rem;
      cursor: pointer;
      transform: scaleX(0.5);
      margin: 0; }
      .list__featured-next:hover, .list__featured-next:focus, .list__featured-prev:hover, .list__featured-prev:focus {
        color: #eeeff5;
        background-color: #a9bfd3;
        border-radius: 1px;
        transform: scaleX(0.5) translateY(-5px);
        transition: transform 300ms, background-color 300ms;
        box-shadow: 0.2rem 0.5rem 0.5rem rgba(65, 71, 112, 0.6); }
      .list__featured-next:active, .list__featured-prev:active {
        background-color: #414770; } }
  @media only screen and (min-width: 37.5em) {
    .list__featured-container {
      margin-top: 1rem;
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      height: 50vh;
      max-height: 70vh;
      max-width: 90rem;
      margin: 0; } }
  @media only screen and (min-width: 37.5em) {
    .list__featured-close {
      display: inline-block;
      position: absolute;
      top: 0;
      right: 1rem;
      width: 3rem;
      height: 3rem;
      cursor: pointer; }
      .list__featured-close-shape, .list__featured-close::after {
        position: absolute;
        top: 1.4rem;
        right: 0;
        width: 3rem;
        height: 3px;
        background-color: rgba(169, 191, 211, 0.5);
        display: inline-block;
        transform: rotate(135deg);
        transition: all .6s; }
      .list__featured-close::after {
        transform: rotate(45deg);
        content: "";
        position: absolute;
        left: 0; }
      .list__featured-close:hover, .list__featured-close:focus {
        background-color: #a9bfd3;
        border-radius: 1px;
        box-shadow: 0.2rem 0.5rem 0.5rem rgba(65, 71, 112, 0.6);
        transform: translateY(-5px);
        transition: transform 300ms, background-color 300ms; }
        .list__featured-close:hover > div, .list__featured-close:focus > div {
          background-color: #eeeff5; }
        .list__featured-close:hover::after, .list__featured-close:focus::after {
          background-color: #eeeff5; } }
  @media only screen and (min-width: 37.5em) {
    .list__featured-image {
      opacity: 0;
      animation-name: fadeIn;
      animation-duration: 1s;
      animation-timing-function: ease-in;
      animation-fill-mode: forwards;
      flex: 3 0 auto;
      margin-left: 2rem;
      margin-right: 2rem;
      max-height: 50vh;
      max-width: 40vw; } }
  @media only screen and (min-width: 56.25em) {
    .list__featured-image {
      flex: 3 0 auto; } }
  @media only screen and (min-width: 75em) {
    .list__featured-image {
      flex: 3 0 auto; } }
  .list__featured-image img {
    opacity: 0;
    animation-name: fadeIn;
    animation-duration: 1s;
    animation-timing-function: ease-in;
    animation-fill-mode: forwards; }
    @media only screen and (min-width: 37.5em) {
      .list__featured-image img {
        max-height: 50vh;
        object-fit: cover;
        object-position: top left;
        max-width: 100%; } }
    @media only screen and (min-width: 56.25em) {
      .list__featured-image img {
        object-fit: contain; } }
  @media only screen and (min-width: 37.5em) {
    .list__featured-text {
      flex: 1 1 auto;
      margin-right: 2rem;
      overflow-y: auto;
      max-height: 100%;
      align-self: center; }
      .list__featured-text ul, .list__featured-text li, .list__featured-text p {
        font-size: 1rem;
        list-style: none;
        opacity: 0;
        animation-name: fadeIn;
        animation-duration: 1s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards; }
      .list__featured-text li {
        text-indent: -1rem;
        opacity: 0;
        animation-name: fadeIn;
        animation-duration: 1s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards; }
      .list__featured-text li::before {
        content: '\25A0';
        color: #414770;
        display: inline-block;
        margin-right: 1rem;
        margin-left: 0; }
      .list__featured-text h3 {
        font-size: 1.2rem;
        opacity: 0;
        animation-name: fadeIn;
        animation-duration: 1s;
        animation-timing-function: ease-in;
        animation-fill-mode: forwards; } }
  @media only screen and (min-width: 56.25em) {
    .list__featured-text {
      flex: 1 1 auto; } }
  @media only screen and (min-width: 75em) {
    .list__featured-text {
      flex: 0 1 auto; } }

.section-hero {
  display: block;
  position: relative;
  width: 100%;
  height: 42rem;
  max-height: 80vmin;
  background-color: #414770;
  box-shadow: 0.2rem 0.5rem 0.5rem rgba(65, 71, 112, 0.6);
  background-image: linear-gradient(to right bottom, rgba(65, 71, 112, 0.8), rgba(55, 34, 72, 0.95)), url("img/tree_bag_bg-600.jpg");
  background-size: cover;
  background-position: left 90%;
  background-attachment: fixed;
  background-repeat: no-repeat;
  max-width: 100%;
  z-index: 2000; }

.section-haiku {
  display: block;
  position: relative;
  width: 100%;
  max-height: 80vh;
  background-color: #fff;
  color: #372248;
  padding-top: 2rem;
  padding-bottom: 4rem; }

.section-purpose {
  display: block;
  position: relative;
  width: 100%;
  background: linear-gradient(-60deg, rgba(91, 133, 170, 0.6) 0%, rgba(91, 133, 170, 0) 15%, rgba(91, 133, 170, 0) 55%, rgba(91, 133, 170, 0.7) 100%);
  box-shadow: 0.2rem 0.5rem 0.5rem rgba(65, 71, 112, 0.6); }
  @supports not ((clip-path: polygon(55% 0, 66% 50%, 55% 100%, 0% 100%, 0 0)) and (shape-outside: polygon(55% 0, 66% 50%, 55% 100%, 0% 100%, 0 0))) {
    .section-purpose {
      background: linear-gradient(-60deg, rgba(91, 133, 170, 0.6) 0%, rgba(91, 133, 170, 0) 15%, rgba(91, 133, 170, 0) 55%, rgba(91, 133, 170, 0.7) 100%), url("../img/tree-dark_tree-light.jpg");
      background-size: cover;
      background-position: top left;
      background-repeat: no-repeat;
      max-width: 100%; } }
  .section-purpose::after {
    content: "";
    display: table;
    clear: both; }

.section-latest {
  display: block;
  position: relative;
  width: 100%;
  max-height: 100%;
  background-color: rgba(65, 71, 112, 0.4);
  box-shadow: 0.2rem 0.5rem 0.5rem rgba(65, 71, 112, 0.6);
  padding-top: 2rem;
  padding-bottom: 4rem; }

.section-hero-about {
  display: block;
  position: relative;
  width: 100%;
  height: 30rem;
  max-height: 75vh;
  background-color: #414770;
  box-shadow: 0.2rem 0.5rem 0.5rem rgba(65, 71, 112, 0.6);
  background-image: linear-gradient(to right bottom, rgba(65, 71, 112, 0.8), rgba(55, 34, 72, 0.95)), url("img/verrazano_day_cropped.jpg");
  background-size: cover;
  background-position: bottom 20% left;
  background-repeat: no-repeat;
  max-width: 100%;
  z-index: 2000; }
  @media only screen and (min-width: 37.5em) {
    .section-hero-about {
      height: 34rem; } }

.section-obligatory {
  display: block;
  position: relative;
  width: 100%;
  background-color: #fff;
  color: #372248;
  padding-top: 2rem;
  padding-bottom: 4rem;
  box-shadow: 0.2rem 0.5rem 0.5rem rgba(65, 71, 112, 0.6); }

.section-DnD {
  border: 1px solid black;
  display: block;
  position: relative;
  width: 100%;
  background-color: rgba(65, 71, 112, 0.2);
  color: #372248;
  padding-top: 2rem;
  padding-bottom: 4rem;
  box-shadow: 0.2rem 0.5rem 0.5rem rgba(65, 71, 112, 0.6); }
  @media only screen and (max-width: 56.25em) and (hover: none) {
    .section-DnD {
      display: none; } }

.section-hero-text-only {
  display: block;
  position: relative;
  width: 100%;
  background-color: #414770;
  box-shadow: 0.2rem 0.5rem 0.5rem rgba(65, 71, 112, 0.6);
  background-image: linear-gradient(to right bottom, rgba(65, 71, 112, 0.8), rgba(55, 34, 72, 0.95));
  max-width: 100%;
  z-index: 2000;
  height: 14rem;
  max-height: 20vmin;
  min-height: 10rem; }
  @media only screen and (min-width: 37.5em) {
    .section-hero-text-only {
      max-height: 25vmin; } }

.section-featured {
  display: none; }
  @media only screen and (min-width: 37.5em) {
    .section-featured {
      display: block;
      position: relative;
      width: 100%;
      background-color: #fff;
      color: #372248;
      max-width: 100%;
      padding: 0;
      margin: 0; } }

.section-projects {
  display: block;
  position: relative;
  width: 100%;
  background-color: rgba(65, 71, 112, 0.3);
  color: #372248;
  padding-top: 2rem;
  padding-bottom: 4rem;
  max-width: 100%; }

.header {
  position: fixed;
  background-color: #eeeff5;
  width: 100vw;
  height: 4rem;
  opacity: .99;
  z-index: 4000; }
  .header__logo-nav {
    position: sticky;
    width: 100%;
    display: inline-block;
    box-shadow: 0 0.5rem 0.5rem -0.5rem rgba(65, 71, 112, 0.6);
    height: 4rem; }
  .header__logo {
    content: '';
    line-height: 6rem;
    position: absolute;
    top: 0;
    left: 4rem;
    height: 6rem;
    width: 6rem;
    background-color: #372248;
    padding: 0;
    margin: 0;
    box-shadow: 0.2rem 0.5rem 0.5rem rgba(65, 71, 112, 0.6);
    display: inline-block;
    transition: all 300ms;
    opacity: 0;
    animation-name: moveDown;
    animation-duration: 300ms;
    animation-timing-function: ease-in;
    animation-delay: 0s;
    animation-fill-mode: forwards; }
    @media only screen and (max-width: 37.5em) {
      .header__logo {
        left: 0; } }

@keyframes moveDown {
  0% {
    opacity: 0;
    transform: translateY(-6rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
    .header__logo:hover, .header__logo:focus {
      box-shadow: 0.25rem 0.25rem 0.5rem rgba(11, 7, 14, 0.6);
      border-bottom: 2rem solid #eeeff5; }
    .header__logo-text {
      display: inline-block;
      color: #eeeff5;
      font-size: 2.2rem;
      font-weight: 800;
      padding: 0 .5rem;
      width: 100%;
      text-align: center;
      text-decoration: none;
      transition: all 300ms;
      vertical-align: -.3rem;
      height: 6rem; }
      .header__logo-text:hover, .header__logo-text:focus {
        transform: translateY(-2px); }
      .header__logo-text:active {
        transform: translateY(1px); }
  .header__nav {
    position: absolute;
    top: 0;
    right: 0;
    height: 6rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-end;
    align-items: flex-end; }
    .header__nav-link {
      line-height: 1;
      font-size: 1.8rem;
      font-weight: bold;
      margin-right: 4rem;
      height: 4rem;
      padding-left: .5rem;
      padding-right: .5rem;
      position: relative;
      transition: all 300ms;
      background-color: transparent;
      opacity: 0;
      animation-name: moveDown;
      animation-duration: 200ms;
      animation-timing-function: ease-in;
      animation-delay: 300ms;
      animation-fill-mode: forwards; }
      @media only screen and (max-width: 37.5em) {
        .header__nav-link {
          margin-right: 2rem; } }

@keyframes moveDown {
  0% {
    opacity: 0;
    transform: translateY(-4rem); }
  100% {
    opacity: 1;
    transform: translateY(0); } }
      .header__nav-link:nth-child(2) {
        animation-delay: 600ms; }
      .header__nav-link:hover, .header__nav-link:focus {
        background-image: linear-gradient(to top left, white, #eeeff5);
        border-bottom: 2rem solid #372248;
        box-shadow: 0.25rem 0.5rem 0.5rem rgba(55, 34, 72, 0.5); }
      .header__nav-link-text {
        color: #5B85AA;
        text-decoration: none;
        text-shadow: 1px 1px 1px #eeeff5;
        display: inline-block; }
        .header__nav-link-text:hover, .header__nav-link-text:focus {
          transform: translateY(-2px); }
        .header__nav-link-text:active {
          transform: translateY(1px); }

.cont {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: nowrap;
  align-content: flex-start;
  margin: 0;
  padding: 0;
  max-width: 100vw; }

.row {
  max-width: 112.5em;
  width: 100%;
  display: block;
  position: relative;
  height: 100%; }
  @media only screen and (min-width: 112.5em) {
    .row {
      width: 80%;
      margin: 0 auto; } }

.col-1-of-2 {
  display: inline-block; }
  @media only screen and (min-width: 37.5em) {
    .col-1-of-2:not(:last-child) {
      margin-right: 2rem; } }

.footer {
  display: block;
  position: relative;
  width: 100%;
  height: 27rem;
  color: #eeeff5;
  background-image: linear-gradient(to right bottom, rgba(55, 34, 72, 0.95), #372248);
  max-width: 100%;
  position: relative;
  overflow: hidden; }
  .footer__bg-image {
    background-image: url("../vendor/img/plastic_bag_outline_cc.svg");
    background-size: cover;
    width: 30rem;
    height: 30rem;
    position: absolute;
    top: 0;
    right: 0;
    transform-origin: top right;
    transform: rotate(90deg) scaleY(1) skewX(10deg) skewY(0);
    padding-top: 4rem;
    opacity: .1;
    margin-top: 26rem;
    margin-right: -6rem; }
  .footer__links {
    display: inline-block; }
    .footer__links-item {
      list-style: none;
      padding-top: 1rem;
      font-weight: bolder;
      justify-content: flex-start;
      vertical-align: center;
      transition: all 300ms; }
      .footer__links-item:hover, .footer__links-item:focus {
        transform: translateY(-2px);
        text-shadow: 0.25rem 0.25rem 0.5rem rgba(11, 7, 14, 0.8); }
      .footer__links-item:active {
        transform: translateY(1px);
        text-shadow: 0.25rem 0.25rem 0.25rem rgba(11, 7, 14, 0.6); }
      .footer__links-item img {
        width: 3.5rem;
        height: 3.5rem;
        object-fit: contain;
        overflow: hidden;
        transition: all 300ms; }
        .footer__links-item img:hover, .footer__links-item img:focus {
          filter: drop-shadow(0.25rem 0.25rem 0.5rem rgba(11, 7, 14, 0.8)); }
        .footer__links-item img:active {
          filter: drop-shadow(0.25rem 0.25rem 0.25rem rgba(11, 7, 14, 0.6)); }
      .footer__links-item-text {
        font-size: 3rem; }
      .footer__links-item a:link, .footer__links-item a:visited {
        text-decoration: none;
        color: #eeeff5; }
  .footer__copyright {
    font-size: 1rem;
    color: #eeeff5;
    text-align: center;
    padding-top: 4rem;
    padding-bottom: 6rem;
    opacity: .6; }
