

.latest {
  width: calc(100% - #{$gutter-sm} - #{$gutter-sm});
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-direction: column;
  justify-content: space-between;
  
  margin-left: $gutter-sm;
  margin-right: $gutter-sm;
  padding: 0;

  // Responsive edits
  @include respond(tab-port) {
    margin-left: $left-margin;
    margin-right: $left-margin;
    width: calc(100% - #{$left-margin} - #{$left-margin});
    flex-direction: row;
  }

  @include respond(desktop) {
    margin-right: calc(#{$left-margin} + #{$margin-scroll});
    margin-top: $nav-top-margin;
  }


  &__header {

    display: block;
    height: 0;
    position: relative;

    opacity: 0;
    @include animation__moveDown(-6rem);
    animation-name: moveDown;
    animation-duration: 500ms;
    animation-timing-function: ease-in;
    animation-delay: 2.5s;
    animation-fill-mode: forwards;

    z-index: map-get($zindex, text-over);

    @include respond(tab-port) {
      flex: 0 1 4rem;
      margin-top: 14rem;
      width: 4rem;
      max-width: 4rem;
      // margin-right: $gutter-sm;
    }


    &-rotate {

      height: 4rem;
      width: 14rem;
      transform: rotate(-90deg);
      transform-origin: left top;
      display: block;
      position: relative;
      top: 14rem;
      z-index: map-get($zindex, text-over);
      @include dropshadow-vertical;
      background-color: $color-primary;

      @include respond(tab-port) {
        top: 0;

      }
    }
  }


  &__text {
    color: $color-black;
    font-size: $body-default;
    margin-top: .4rem;
    margin-bottom: 2rem;
  }

  &__pics {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }


  // DEBUG
  // IE 11 Problem where white space is appearing when latest__image for latest__first
  &__image {
    max-width: 100%;
    @include dropshadow;
    display: inline-block;
    vertical-align: top;
    line-height: 0;
    position: relative;
    overflow: hidden;
    top: 0;
    margin-top: 0;
    margin-bottom: .8rem;

    @include overlay($color-tertiary);

    img {
      width: 100%; // DEBUG
      overflow: hidden;

      // IE 11 doesn't support object-fit
      @supports (object-fit: scale-down) {
        object-fit: scale-down;
      }
    }

  }

  &__titles {
    height: 6rem;
    width: 100%;

  }


  &__first {
    flex: 1 1 40vw; 
    margin-bottom: 4rem;

    @include respond(tab-port) {
      max-width: 50vw; 
      order: 3;
    }
  
  }



  &__second {
    flex: 2 1 30vw;

    @include respond(tab-port) {
      max-width: 35vw;
      margin-right: $gutter-sm;
      margin-left: $gutter-sm;
      order: 2;
    }
  }
}

