// Basic horizontal drop shdow
@mixin dropshadow {
  box-shadow: .2rem .5rem .5rem rgba($color-primary, .6);
}

// Drop shdow for rotated elements , like 2nd headers
@mixin dropshadow-vertical {
  box-shadow: -.5rem .5rem .5rem rgba($color-primary, .6);
}


// Basics for each main section block
@mixin section-block {
  display: block;
  position: relative;
  width: 100%;
}


// Basic flex container e.g. Haiku and The Obligatory
@mixin basic-flex {
  margin-left: $left-margin;
  margin-right: $left-margin;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: nowrap;


  // Responsive edits
  @include respond(desktop) {
    margin-right: calc(#{$left-margin} + #{$margin-scroll});
  }

}

// Basic flex item for  e.g. Haiku and The Obligatory
@mixin flex-item-right {
  flex: 4 1 auto;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;

  margin-left: $left-margin;
}




// Color screen overlaid over HTML images, takes color
@mixin overlay($overlay-col) {

  &::before {
    display: inline-block;
    vertical-align: top;
    line-height: 0;
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    width: 100%;
    height: 100%;
    content: '';
    z-index: map-get($zindex, screens);

    background-image: linear-gradient( to right bottom,
      rgba($overlay-col, .05),
      rgba($overlay-col, .33));
  }
}


@mixin clearfix {
  // Clearfix - necessary for the float because of shape-outside
  &::after {
    content: "";
    display: table;
    clear: both;
  }
}


@mixin link-hover {
  transform: translateY(-2px);
  text-shadow: 0px 1px 4px rgba($color-primary-dark, .3);
}

@mixin fancy-bullets {
  li::before {
    content: '\25A0';
    color: $color-primary;
    display: inline-block;
    margin-right: 1rem;
    margin-left: 0;
  }
}



// MEDIA QUERY MANAGER
// 0-600px: Default
// 600-900px: tab-port
// 900-1200px: tab-land
// 1200-1800: desktop
// 1800+ : big-desktop

// Using ems for media queries, more accessible
@mixin respond($breakpoint) {

  @if $breakpoint == mobile {
    @media only screen and (max-width: 37.5em) { @content }; // 600px +
  }

  @if $breakpoint == tab-port {
    @media only screen and (min-width: 37.5em) { @content }; // 600px +
  }

  @if $breakpoint == tab-land {
    @media only screen and (min-width: 56.25em) { @content }; // 900px +
  }

  @if $breakpoint == desktop {
    @media only screen and (min-width: 75em) { @content }; // 1200px +
  }

  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) { @content }; // 1800px +
  }
}
